[data-controller="static"]
  #banner_how_it_works
    background: image-url("nosvc/banner_how_it_works.jpg")
    width: 614px
    height: 220px
    float: left
  #page_content
    .container
      .static_default
        .sidebar
          +omega
          margin-top: 125px
          margin-left: 0px
          width: 345px
          float: left
          ul
            margin-bottom: 20px
            border-bottom: 1px #D8D3D3 dashed
            li
              border-top: 1px #D8D3D3 dashed
              text-align: right
              a
                color: #5D5D5D
                font-size: 24px
                font-family: Dosis-Light
                display: block
                padding: 25px 5px
                padding-right: 65px
                text-decoration: none
                +text-shadow(white 1px 1px 0px)
                &:hover, &.selected
                  background: #F9F9F9
                  color: #EC6569
        .default_text
          +grid(10)
          width: 574px
          background: #f9f9f9
          margin: 0
          padding: 50px 20px 20px 20px
          .title
            font-family: "Dosis-ExtraLight"
            font-size: 41px
            letter-spacing: -1px
            +text-shadow(white 1px 1px 0px)
            color: #5d5d5d
            line-height: 46px
            margin: auto
            margin-bottom: 35px
            text-align: center
            span
              color: #EC6569
          a
            color: #EC6569
          h1
            font-family: 'Helvetica Neue', Arial
            font-size: 21px
            color: #64635E
            padding-bottom: 20px
          h2
            font-family: 'Helvetica Neue', Arial
            font-size: 18px
            color: rgba(#EC6569, 0.9)
            padding-bottom: 10px
          h3
            font-family: 'Helvetica Neue', Arial
            font-weight: bold
            font-size: 15px
            color: #64635E
            padding-bottom: 5px
          p, ul, ol
            font-family: 'Helvetica Neue', Arial
            font-size: 15px
            line-height: 130%
            padding-bottom: 15px
            color: #64635E
          strong
            font-family: 'Helvetica Neue', Arial
            font-weight: bold
            color: #64635E
          ol
            padding: 10px 30px
            li
              padding-bottom: 10px
              list-style: decimal inside
          ul
            padding: 10px 30px
            li
              padding-bottom: 10px
              list-style: disc inside
