body
  background: image-url("nosvc/background.jpg") left top repeat
  #page_content
    .container
      +grid-system(16)

      .fb-like 
        float: right
        width: 120px
        margin-right: 10px
        margin-top: 5px
      .twitter-share-button
        float: right
        margin-top: 5px
      .list
        float: left
      .list_title
        margin: 0
        clear: both
        width: 100%
        .title
          h2
            color: #83b1df
            font-family: "Dosis-SemiBold"
            font-size: 21px
            text-transform: uppercase
            text-indent: 60px
            height: 45px
            +text-shadow(white 1px 1px 0px)
            border-bottom: 1px #d8d3d3 dashed
            padding-bottom: 15px
            margin-bottom: 50px
          h3
            float: left
            color: #83b1df
            font-family: "Dosis-Medium"
            font-size: 21px
            text-transform: uppercase
          p
            font-family: "Dosis-Light"
            font-size: 18px
            color: #555555
            text-transform: none
            margin-top: 6px    
      .projects
        padding-top: 20px
  #logos
    +grid-container
    +grid-system(16)
    margin-top: 20px
    margin-bottom: 20px
    height: 50px
    p
      +grid(2)
      font-family: "Helvetica Neue"
      font-size: 12px
      float: left
      color: #91908e
      padding-top: 20px
      margin-left: 90px
      +text-shadow(white 1px 1px 0px)      
    .vidasimples
      width: 108px
      height: 51px
      float: left
      margin-left: 30px
      padding: 0px
    .techtudo
      width: 108px
      height: 51px
      float: left
      margin-left: 30px
      padding: 0px
    .digitas
      width: 108px
      height: 51px
      float: left
      margin-left: 30px
      padding: 0px
    .catraca
      width: 108px
      height: 51px
      float: left
      margin-left: 30px
      padding: 0px
    .terra
      width: 108px
      height: 51px
      float: left
      margin-left: 30px
      padding: 0px
