[data-controller="curated_pages"][data-action="show"]
  #page_content
    a
      color: $ultra_gryn
      text-decoration: none
      &:hover
        color: $pink
    .container
      .sidebar
        +omega
        margin-top: 50px
        margin-left: 0px
        width: 345px
        height: 200px
        float: left
      .curated_content
        background: image-url('nosvc/while_line.gif') right repeat-y
        margin: 0 0 30px 0
        .curated_page_header
          padding-bottom: 40px
          .logo
            float: left
            margin-top: 30px
            margin-bottom: 30px
            img
              width: 150px
              height: 150px
              display: block
              float: left
              overflow: hidden
              +border-radius(112px)
        .curated_project
          margin-bottom: 20px
        .curated_project_list
        .project_curator_description
          width: 614px
          float: right
          margin: -60px 0px 60px
          background: #fff
          border-top: dashed 1px #ccc
          border-bottom: dashed 1px #ccc
          p
            width: 320px
            color: rgba($ultra_gryn, 0.8)
            font-family: Arial
            font-size: 13px
            line-height: 18px
            margin-left: 0px
            margin-right: 20px
            float: right
            padding: 30px 0px 27px 0px
            font-style: italic
        .curated_page_header
          .titles
            float: left
            width: 574px
            padding: 20px
            h1
              color: #5d5d5d
              font-family: "Dosis-Regular"
              font-size: 41px
              padding: 5px 0
              text-transform: uppercase
              margin-top: 60px
              float: left
              margin-left: 20px
          .description
            padding-top: 20px
            width: 614px
            background:  #fff
            border-top: dashed 1px #ccc
            border-bottom: dashed 1px #ccc
            float: right
            p
              color: #5D5D5D
              float: left
              font-family: "Dosis-Light"
              font-size: 24px
              line-height: 32px
              margin-top: 20px
              padding: 0 40px 20px
              text-align: center
          .curated_social
            margin-top: 50px
            margin-left: 0px
            width: 345px
            float: left
            margin-top: 150px
            #facebook_share
              width: 540px