[data-namespace="null"][data-controller="projects"][data-action="index"]
  #page_content
    .main
      padding-top: 20px
      +grid-system(16)
      
      .selected_projects
        +grid-system(16)
        h2
          background: image-url("nosvc/icon-destaques.jpg") left top no-repeat
          text-indent: 60px
          height: 45px
          +grid-system(16)
          +text-shadow(white 1px 1px 0px)
          border-bottom: 1px #d8d3d3 dashed
          padding-bottom: 15px
          margin-bottom: 50px
          p
            font-family: "Dosis-Light"
            font-size: 18px
            color: #555555
            text-transform: none
            margin-top: 6px 
      .expiring_projects
        h2
          background: image-url("nosvc/icon-ultimachamada.jpg") left top no-repeat
          text-indent: 60px
          height: 45px
          +grid-system(16)
          +text-shadow(white 1px 1px 0px)
          border-bottom: 1px #d8d3d3 dashed
          padding-bottom: 15px
          margin-bottom: 50px
          p
            font-family: "Dosis-Light"
            font-size: 18px
            color: #555555
            text-transform: none
            margin-top: 6px       
      .recents_projects
        h2
          background: image-url("nosvc/icon-ultimachamada.jpg") left top no-repeat
          text-indent: 60px
          height: 45px
          +grid-system(16)
          +text-shadow(white 1px 1px 0px)
          border-bottom: 1px #d8d3d3 dashed
          padding-bottom: 15px
          margin-bottom: 50px
          p
            font-family: "Dosis-Light"
            font-size: 18px
            color: #555555
            text-transform: none
            margin-top: 6px       
      .explore_link
        margin-top: 50px
        float: left
        margin-bottom: 50px
        +grid-system(16)
        hr
          +grid(10)
          border: none
          border-bottom: 1px #d8d3d3 dashed
          margin-top: 9px
        a
          width: auto
          float: right
          font-family: "Dosis-Medium"
          font-size: 18px
          color: #83b1df
          text-decoration: none
          text-transform: uppercase
          margin: 0px
          +text-shadow(white 1px 1px 0px)
          background: image-url("nosvc/icon-link.gif") right 2px no-repeat
          text-align: right
          padding-right: 25px
          padding-left: 25px
          &:hover
            text-decoration: underline

    .partners
      padding-top: 20px
      padding-bottom: 10px
      background-color: #f7f6f0
      height: 242px
      border-top: 1px #d8d3d3 dashed 
      border-bottom: 1px #d8d3d3 dashed
      .title
        +grid(12)
        display: block
        margin: 0 auto
        float: none
        text-align: center
      li.partner
        float: left
        // Imagens são exibidas com background-image no html.
        a
          @include border-radius(50%)
          @include box-shadow(inset 1px 1px 1px rgba(0, 0, 0, 0.3))
          overflow: hidden
          width: 105px
          height: 105px
          display: block
      h3
        padding-bottom: 9px
        padding-top: 5px
        float: none
      
      .list-title    
      p
        font-family: "Dosis-Light"
        font-size: 18px
        color: #555555
        clear: both
        text-align: center
        +text-shadow(white 1px 1px 0px)

      .channels_list_widget
        ul
          width: 100%
          li
            width: 220px
            margin-bottom: 20px
            margin-right: 10px
            margin-left: 10px
            float: left
            border: none
            +transition(all, 0.5s)
            &:hover
              +border-radius(10px)
              +box-shadow(rgba(black, 0.3) 0px 3px 10px)
              img
                +border-radius(10px)
    .institutional_video
      text-align: right
      width: 786px
      margin: 0 auto
      clear: both
