[data-namespace="null"][data-controller="projects"][data-action="index"]
  #page_content
    .main
      padding-top: 20px
      +grid-system(16)
      .selected_projects
        h2
          background: image-url("nosvc/icon-selected.png") left top no-repeat
      .expiring_projects
        h2
          background: image-url("nosvc/icon-expiring.png") left top no-repeat
      .recents_projects
        h2
          background: image-url("nosvc/icon-recents.png") left top no-repeat
      .explore_link
        margin-top: 50px
        float: left
        margin-bottom: 50px
        +grid-system(16)
        hr
          +grid(10)
          border: none
          border-bottom: 1px #d8d3d3 dashed
          margin-top: 9px
        a
          width: auto
          float: right
          font-family: "Dosis-Medium"
          font-size: 18px
          color: #83b1df
          text-decoration: none
          text-transform: uppercase
          margin: 0px
          +text-shadow(white 1px 1px 0px)
          background: image-url("nosvc/icon-link.png") right 2px no-repeat
          text-align: right
          padding-right: 25px
          padding-left: 25px
          &:hover
            text-decoration: underline
    .footer_featured
      padding-top: 5px
      padding-bottom: 30px
      border-top: 1px #d8d3d3 dashed 
      border-bottom: 1px #d8d3d3 dashed
      margin-bottom: 50px
      .content
        +grid-system(16)
        margin: 0 auto
        .mi_casa_su_casa, .not_repress, .it_will
          width: 200px
          float: left 
          margin-top: 30px
          padding-left: 65px
          margin-right: 80px
          .title
            color: #83B1DF
            font-family: "Dosis-Medium"
            font-size: 21px
            margin-bottom: 25px
            text-transform: uppercase
            +text-shadow(white 1px 1px 0px)
          p
            font-family: "Helvetica", "Arial", "Sans-serif"
            font-size: 14px
            color: #5d5d5d
            line-height: 21px
          a
            color: #83B1DF
            text-decoration: none
            +text-shadow(white 1px 1px 0px)
            font-size: 14px
            font-family: "Helvetica", "Arial", "Sans-serif"
            background: image-url("nosvc/mini-link.gif") right top no-repeat
            display: block
            padding-top: 2px
            margin-top: 10px
            padding-right: 15px
            float: left
            &:hover
              text-decoration: underline
        .mi_casa_su_casa
          background: image-url("nosvc/icon-locale.gif") left 2px no-repeat
        .not_repress
          background: image-url("nosvc/icon-news.gif") left 2px no-repeat
          input#email
            border: 1px solid #CCCCCC
            border-radius: 3px 3px 3px 3px
            color: #555555
            float: left
            font-size: 13px
            height: 18px
            line-height: 18px
            margin-bottom: 9px
            padding: 4px
            width: 146px
            margin-top: 10px
          input[type="submit"]
            background: #83B1DF
            border: none
            color: white
            margin-left: 6px
            +text-shadow(#3a5e91 1px 1px 0px)
            @include border-radius(3px)
            height: 28px
            font-family: "Dosis-Medium"
            padding-bottom: 2px
            font-size: 16px
            text-transform: uppercase
            cursor: pointer
            margin-top: 10px
        .it_will
          background: image-url("nosvc/icon-blog.gif") left 2px no-repeat
          margin-right: 0px
          float: right


    .partners
      padding-top: 20px
      padding-bottom: 10px
      background-color: #f7f6f0
      height: 242px
      border-top: 1px #d8d3d3 dashed 
      border-bottom: 1px #d8d3d3 dashed
      p
        font-family: "Dosis-Light"
        font-size: 18px
        color: #555555
        text-transform: none
        margin-top: 6px
      .title
        +grid(12)
        display: block
        margin: 0 auto
        float: none
        text-align: center
      li.partner
        float: left
        // Imagens são exibidas com background-image no html.
        a
          @include border-radius(50%)
          @include box-shadow(inset 1px 1px 1px rgba(0, 0, 0, 0.3))
          overflow: hidden
          width: 105px
          height: 105px
          display: block
          margin: 0 15px 0 15px
          text-indent: -9999em
      h3
        padding-bottom: 9px
        padding-top: 5px
        float: none
      .slider
        div.content
          background: #F7F6F0
          padding-top: 20px
          padding-left: 75px
      .channels_list_widget
        ul
          width: 100%
          li
            width: 220px
            margin-bottom: 20px
            margin-right: 10px
            margin-left: 10px
            float: left
            border: none
            +transition(all, 0.5s)
            &:hover
              +border-radius(10px)
              +box-shadow(rgba(black, 0.3) 0px 3px 10px)
              img
                +border-radius(10px)
    .institutional_video
      width: 786px
      margin: 0 auto
      margin-top: 60px
      clear: both
      .social
        .fb-like
          float: right
          width: 110px
          margin-top: 5px
        .twitter-share-button
          float: right
          margin-top: 5px
          margin-right: 10px
        .clear
          clear: both
    #logos
      +grid-container
      +grid-system(16)
      margin-top: 20px
      margin-bottom: 20px
      height: 50px
      p
        +grid(2)
        font-family: "Helvetica Neue"
        font-size: 12px
        float: left
        color: #91908e
        padding-top: 20px
        margin-left: 90px
        +text-shadow(white 1px 1px 0px)
      div
        width: 108px
        height: 51px
        float: left
        margin-left: 30px
        padding: 0px
