[data-namespace="null"][data-controller="projects"][data-action="index"]
  #page_content
    .main
      padding-top: 20px
      +grid-system(16)
      
      .selected_projects
        +grid-system(16)
        h2
          background: image-url("nosvc/icon-destaques.jpg") left top no-repeat
          text-indent: 60px
          height: 45px
          +grid-system(16)
          +text-shadow(white 1px 1px 0px)
          border-bottom: 1px #d8d3d3 dashed
          padding-bottom: 15px
      .expiring_projects
        h2
          background: url($images_path+"expiring_icon20x22.png") left top no-repeat
          text-indent: 28px
          padding-bottom: 3px
      .recents_projects
        h2
          background: url($images_path+"recents_icon31x17.png") left top no-repeat
          text-indent: 38px
          padding-bottom: 3px
      .explore_link
        padding-top: 20px
        padding-bottom: 30px
        float: left
        hr
          +grid(8)
          border: none
          border-bottom: 1px rgba(black, 0.1) solid
          +omega
          padding-top: 2px
        a
          +grid(4)
          +omega
          font-family: "Lato-Regular"
          font-size: 14px
          color: $pink
          text-decoration: none
          &:hover
            color: $green

    .partners
      padding-top: 20px
      padding-bottom: 10px
      background-color: #f7f6f0
      height: 242px
      border-top: 1px #d8d3d3 dashed 
      border-bottom: 1px #d8d3d3 dashed
      .title
        +grid(12)
        display: block
        margin: 0 auto
        float: none
        text-align: center
      h3
        padding-bottom: 9px
        padding-top: 5px
        float: none
      
      .list-title    
      p
        font-family: "Dosis-Regular"
        font-size: 18px
        color: #555555
        clear: both
        text-align: center

      .channels_list_widget
        ul
          width: 100%
          li
            width: 220px
            margin-bottom: 20px
            margin-right: 10px
            margin-left: 10px
            float: left
            border: none
            +transition(all, 0.5s)
            &:hover
              +border-radius(10px)
              +box-shadow(rgba(black, 0.3) 0px 3px 10px)
              img
                +border-radius(10px)


