/* TTF fonts for CSS3 */
@font-face
  font-family: "Dosis-ExtraLight"
  src: url($fonts_path+"Dosis-ExtraLight.ttf")
@font-face
  font-family: "Dosis-Light"
  src: url($fonts_path+"Dosis-Light.ttf")
@font-face
  font-family: "Dosis-Medium"
  src: url($fonts_path+"Dosis-Medium.ttf")
@font-face
  font-family: "Dosis-Regular"
  src: url($fonts_path+"Dosis-Regular.ttf")
@font-face
  font-family: "Dosis-SemiBold"
  src: url($fonts_path+"Dosis-SemiBold.ttf")
@font-face
  font-family: "Dosis-Bold"
  src: url($fonts_path+"Dosis-Bold.ttf")
