strong Tem certeza?
| Se a sua inscrição for anônima, ela não aparecerá na página do encontro. Nem no seu perfil. Sendo anônima ou não o valor que você pagou nunca será publicado. Somente o organizador do encontro saberá essa informação.