strong Are you sure?
|  If your registration is anonymous it won't show in the meeting page nor your profile page. Even if your registration is not anonymous, the value you paid won't be published anywhere. Only the meeting organizer will be able to see it.
